body { 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #f5f6fa; 
  color: #333; 
} 
header { 
  background-color: #9fd6f8; 
  color: white; 
  text-align: center; 
  font-size: 1.25em;
  padding: 20px; 
} 